<?xml version="1.0"?>
<configuration>
  <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
  </system.web>
 <connectionStrings>
    <add name="ChapmanSQL" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\nchap\Desktop\Chapman\Chapman\Chapman\App_Data\chapmanSQL.mdf;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
